body {
    all: unset;
}

section {
    position: absolute;
    bottom: 5%;
    right: 7%;
    width: 90%;
    height: 100%;
}

section ul{
    background-color: rgb(68, 190, 123);
}

section div{
    display: flex;
    flex-direction: column;
    margin: 5%;
}

section ul li{
    align-items: flex-start;
    list-style: none;
}

.chat{
    border-radius: 10%;
    background-color: rgb(72, 97, 236);
}